.btn-luminoso {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 8px 18px;
    transition: 0.3s;
    position: relative;
    background: var(--preto-padrao);
    border: 2px solid #333333;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.btn-luminoso:hover {
    letter-spacing: 0.2em;
    color: var(--laranja);
    box-shadow: 0 0 45px var(--laranja);
    border-color: var(--laranja);
}



.btn-luminoso i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn-luminoso i::before {
    content: '';
    position: absolute;
    border: 2px solid var(--laranja);
    border-radius: 5px;
    width: 7px;
    height: 4px;
    top: -5.2px;
    left: 80%;
    background: var(--preto-padrao);
    transform: translateX(-50%);
    transition: 0.3s;
}

.btn-luminoso:hover i::before {
    width: 20px;
    left: 20%;
}

.btn-luminoso i::after {
    content: '';
    position: absolute;
    border: 2px solid var(--laranja);
    border-radius: 5px;
    width: 7px;
    height: 4px;
    bottom: -5.2px;
    left: 20%;
    background: var(--preto-padrao);
    transform: translateX(-50%);
    transition: 0.3s;
}

.btn-luminoso:hover i::after {
    width: 20px;
    left: 80%;
}

.btn-luminoso:active {
    color: #ffffff;
    background: var(--laranja);
}