$cor-principal: #ECECEC;
$cor-de-texto: #323232;
$azul-claro: #54939E;
$azul: #09C7EB;
$azul-opaco: #005666;

$fonte-padrao: 'Poppins', sans-serif;
$tamanho-de-fonte: 16px;

$cor__js: #F7DF1E;
$cor__react: #00D1FF;
$cor__html: #E54F27;
$cor__css: #0057FF;
$cor__sass: #c69;