.cabecalo_navegacao {
    background: rgba(74, 74, 74, 0.6);
    backdrop-filter: blur(1.5px);
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    height: 2rem;
    text-transform: uppercase;
}

.cabecalo_navegacao-conteiner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalo_navegacao-link:hover {
    color: #17a2ff;
}

.cabecalho--fixed {
    box-shadow: 0 2px 7px rgba( 23,162,255, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
}