.cabecalho_banner {
    background: url('../img/background\ animated.gif') no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.cabecalho_banner-titulo span {
    color: #17a2ff;
    text-transform: uppercase;
}

.cabecalho_banner-paragrafo strong {
    color: #17a2ff;
}

.cabecalho_banner-botao {
    margin: 4rem;
    border: 2px solid #ffffff;
    transition: all 0.5s;
}

.cabecalho_banner-botao:hover {
    border-color: #17a2ff;
}
