.inicial {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inicial__socialMedia {
    color: var(--cor-secundaria);
    display: flex;
    gap: 1.5rem;
    margin-top: 4rem;
}

.socialMedia-icon {
    font-size: 2rem;
    transition: .5s all ease-out;
}

.socialMedia-icon:hover {
    color: #ffffff;
}

.inicial__texto {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inicial__texto h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    gap: 6px;
    margin-top: 4rem;
}

.inicial__texto h1 span:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
}

.inicial__texto h1 span:nth-child(2) {
    color: var(--laranja);
    font-size: 2rem;
    font-weight: 300;
}

.inicial__texto h1 span:last-child {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.inicial__logo {
    margin: 36px 0;
    width: 40px;
}

.inicial__descricao {
    padding: 0 54px;
}

@media screen and (min-width: 798px) {
    .inicial__socialMedia {
        gap: 2.5rem;
        margin-top: 8rem;
    }

    .socialMedia-icon {
        font-size: 4rem;
    }

    .inicial__texto h1 {
        margin-top: 8rem;
    }

    .inicial__texto h1 span:nth-child(1) {
        font-size: 5rem;
    }
    
    .inicial__texto h1 span:nth-child(2) {
        font-size: 5rem;
    }
    
    .inicial__texto h1 span:last-child {
        font-size: 6rem;
        letter-spacing: .5rem;
    }

    .inicial__logo {
        margin: 100px 0;
        width: 60px;
    }
}

@media screen and (min-width: 1000px) {
    .inicial {
        align-items: start;
        background: linear-gradient(89.28deg, 
        rgba(22, 22, 22, 0.5) 51.43%, 
        rgba(22, 22, 22, 0) 99.38%), 
        url(../img/fundo\ com\ logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 120vh;
    }

    .inicial__socialMedia {
        align-items: start;
        flex-direction: column;
        margin-right: 130px;
        margin-top: 35vh;
    }

    .socialMedia-icon {
        font-size: 2.5rem;
    }

    .inicial__texto h1 {
        margin-top: 8rem;
        margin-left: 130px;
    }

    .inicial__logo {
        margin: 50px 0;
        width: 50px;
    }

    .inicial__descricao {
        margin-left: 46px;
        width: 520px;
    }
}