.projetos {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.projetos__titulo {
    font-size: 1.6rem;
    margin-left: 10%;
}

.projetos__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.card {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--logo-de-fundo);
    padding: 2rem 0;
}

.card img {
    width: 80%;
    max-width: 500px;
    height: 11rem;
}

.projeto__sobre {
    font-family: 'Comfortaa', cursive;
    padding: 2rem 1rem 0 1.5rem;
    width: 80%;
    max-width: 500px;
}

.titulo__projeto {
    font-size: 2rem;
    font-weight: 700;
}

.descricao__projeto {
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1rem;
}

.tecnologias__projeto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
}

.tecnologias__projeto li{
    font-weight: 800;
    margin: .5rem 0;
}

.botoes__projetos {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ver__projeto {
    background: var(--laranja);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: .3s all ease-out;
}

.ver__projeto:hover {
    border-radius: 10px;
    box-shadow: 0 0 20px 6px #783214;
}

.projeto__sobre a i {
    margin-left: 1rem;
    font-size: 2rem;
}

.projeto__sobre a i:hover {
    color: var(--cor-secundaria);
}

@media screen and (min-width: 798px) {
    .projetos__titulo {
        font-size: 2.5rem;
    }

    .projetos__ver-mais {
        margin-top: 2rem;
        padding: 30px 100px;
    }

    .card img {
        height: 250px;
    }

    .projeto__sobre {
        padding: 2rem 1rem 0 1.5rem;
    }

    .tecnologias__projeto li{
        font-size: 1rem;
    }

}

@media screen and (min-width: 1000px) {
    .projetos {
        max-width: 1720px;
    }

    .projetos__ver-mais {
        padding: 12px 50px;
    }

    .projetos__container {
        gap: 2.5rem;
    }

    .card {
        flex-direction: row;
        padding: 2rem;
        border: none;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .card:nth-last-of-type(2n+1) {
        flex-direction: row-reverse;
    }

    .card img {
        height: 280px;
    }

    .projeto__sobre a i {
        font-size: 3rem;
    }
}