.rodape {
    align-items: center;
    height: 20rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.rodape__btn--contato {
    color: var(--branco);
    text-decoration: none;
    padding: 16px 20px;
    background-color: var(--laranja);
    border-radius: 15px;
}

.rodape__texto {
    text-align: center;
    font-size: 20px;
    color: var(--branco);
}

.rodape__texto strong {
    font-weight: 700;
}

.rodape__creditos {
    color: var(--cinza);
    padding-bottom: 4rem;
}