.rodape {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.rodape__btn--contato {
    background: var(--laranja);
    font-weight: 500;
    padding: 1rem 2rem;
}

.rodape__texto {
    text-align: center;
    margin-top: 2rem;
    width: 190px;
}

.rodape__texto strong {
    font-weight: 700;
}

.rodape__socialMedia {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.rodape__socialMedia .socialMedia-icon {
    color: var(--cor-secundaria);
    margin: 2rem 0;
}

.rodape__creditos {
    color: var(--cor-secundaria);
    margin-bottom: .5rem;
}