.slide__container {
    width: 332px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slide__titulo {
    color: var(--branco);
    font-weight: 700;
}

.swiper-slide img {
    width: 332px;
    height: 476px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#swiper-btn {
    display: none;
}