.sobre {
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    margin: 2rem 0;
}

.sobre h2 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin: 3rem 0;
}

.sobre_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sobre_coteudo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;
    width: 100%;
}

.sobre-foto {
    width: 100%;
}

.sobre-titulo {
    font-size: 2rem;
    padding-top: 1.5rem;
    width: 100%;
    text-align: center;
}

.sobre-paragrafo {
    font-size: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 26rem;
}

.sobre-link {
    border: 2px solid #ffffff;
    margin-top: 1rem;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    transition: 0.5s;
}

.sobre-link:hover {
    border-color: #17a2ff;
}

@media screen and (min-width: 768px) {
    .sobre-foto {
        width: 40%;
    }

    .sobre-titulo {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .sobre-foto {
        width: 40%;
    }

    .sobre-titulo {
        font-size: 2.5rem;
    }

    .sobre-paragrafo {
        font-size: 1.5rem;
        width: 26rem;
    }
}

@media screen and (min-width: 1200px) {
    .sobre_container {
        align-items: flex-start;
        flex-direction: row;
    }

    .sobre-foto {
        width: 40%;
    }

    .sobre-titulo {
        font-size: 2rem;
    }

    .sobre-paragrafo {
        font-size: 1rem;
        width: 18rem;
    }
}
