.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 4rem 0;
}

.card-sobre {
    width: 300px;
    background-color: var(--preto-padrao);
    box-shadow: var(--box-shadow-padrao);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.card-sobre__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.card-sobre__avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--preto-padrao);
    box-shadow: var(--box-shadow-padrao);
    margin: 2rem auto;
}

.card-sobre__nome {
    color: var(--cinza);
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-sobre__coteudo {
    color: var(--branco);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow-interno-padrao);
}