.sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 106px;
}

.sobre__foto {
    margin-bottom: 40px;
    width: 167px;
}

.sobre p {
    padding: 0 60px;
}

.sobre p:last-child {
    margin-top: 1.5rem;
}

@media screen and (min-width: 798px) {
    .sobre__foto {
        margin-bottom: 100px;
        width: 350px;
    }

    .sobre p:last-child {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .sobre {
        align-items: start;
        flex-direction: row;
    }

    .sobre__foto {
        padding-left: 140px;
    }

    .sobre p {
        font-size: 1.5rem;
        padding-right: 280px;
        line-height: 2.2rem;
    }
}