@import url("cabecalho.css");
@import url("sobre.css");
@import url("elements/botoesAnimados.css");
@import url("elements/links.css");
@import url("melhoresTrabalhos.css");
@import url("slide.css");
@import url("rodape.css");
@import url("skill.css");

:root {
    --preto-padrao: #161616;
    --branco: #f7f7f7;
    --cinza: #949494;
    --laranja: #FF5C00;
    --box-shadow-padrao: 14px 14px 28px #090909,
    -14px -14px 28px #232323;
    --box-shadow-interno-padrao: inset 14px 14px 28px #090909,
            inset -14px -14px 28px #232323;
    --box-shadow-lateral: 39px 0px 12px -8px rgba(0, 0, 0, 0.89) ;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: var(--cinza);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--laranja);
    border-radius: 4px;
    border: none;
}

body {
    background-color: var(--preto-padrao);
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    margin: 0;
}
