@import url("sobre.css");
@import url("elements/botoesAnimados.css");
@import url("elements/links.css");
@import url("rodape.css");

:root {
    --preto-padrao: #161616;
    --branco: #f7f7f7;
    --cinza: #949494;
    --laranja: #FF5C00;
    --box-shadow-padrao: 14px 14px 28px #090909,
    -14px -14px 28px #232323;
    --box-shadow-interno-padrao: inset 14px 14px 28px #090909,
            inset -14px -14px 28px #232323;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #777777;
}

html::-webkit-scrollbar-thumb {
    background-color: #17a2ff;
    border-radius: 4px;
    border: none;
}

body {
    background-color: var(--preto-padrao);
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
}
