.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6rem;
    position: relative;
}

.cabecalho img {
    position: absolute;
    width: 40px;
    bottom: -10%;
}

@media screen and (min-width: 798px) {
    .cabecalho {
        background: linear-gradient(89.28deg,
                rgba(22, 22, 22, 0.5) 51.43%,
                rgba(22, 22, 22, 0) 99.38%),
            url(../../img/fundo\ com\ logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 1000px) {
    .cabecalho {
        align-items: start;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100vh;
    }

    .cabecalho img {
        display: none;
    }
}