.qualificacoes {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
    padding: 0 4rem;
}

.qualificacoes h2 {
    font-size: 2rem;
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.qualificacoes ul {
    margin: 2rem 0;
}

.formacao {
    align-items: start;
    display: flex;
    gap: 3rem;
    padding-left: .5rem;
    margin-top: 1rem;
}

.formacao img {
    width: 4rem;
}

.formacao p {
    text-align: start;
    font-size: 1.5rem;
}

.formacao:nth-child(2) img {
    padding-right: 0.75rem;
}

@media screen and (min-width: 798px) {
    .qualificacoes__titulo {
        font-size: 2.6rem;
        padding: 1rem 0;
    }

    .formacao {
        margin-top: 2rem;
    }

    .formacao img {
        width: 10rem;
    }

    .formacao:nth-child(2) img {
        padding-right: 0;
    }
}

@media screen and (min-width: 1000px) {
    .qualificacoes div {
        align-items: start;
        display: flex;
        width: 80%;
    }

    .qualificacoes__titulo {
        font-size: 2rem;
        width: 80%;
    }

    .formacao {
        margin-right: 1.5rem;
    }

    .formacao img {
        width: 8rem;
    }

    .formacao p {
        font-size: 1rem;
    }
}