.habilidades {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
}

.habilidades__titulo {
    font-size: 1.6rem;
}

.habilidades__container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.habilidade {
    align-items: center;
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    display: flex;
    height: 3.5rem;
    justify-content: center;
    width: 3.5rem;
    transition: .2s all ease-out;
    position: relative;
}

.habilidade i {
    font-size: 3rem;
}

.habilidade:hover {
    color: var(--cor-icone);
    border-color: var(--cor-icone);
}

.habilidade:hover::after {
    background-color: var(--cor-icone);
    content: "";
    padding: 12px;
    position: absolute;
    rotate: 45deg;
    top: 120%;
}

.habilidade:hover .fa-html5::after,
.habilidade:hover .fa-css3-alt::after,
.habilidade:hover .fa-js::after,
.habilidade:hover .fa-react::after {
    background-color: var(--cor-icone);
    border-radius: 15px;
    color: var(--cor-princiapl);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 130%;
    letter-spacing: .2rem;
    padding: 20px;
    
}

.habilidade:hover .fa-html5::after {
    content: "html";
    left: -40%;
}

.habilidade:hover .fa-css3-alt::after {
    content: "css";
    left: -25%;
}

.habilidade:hover .fa-js::after {
    content: "javascript";
    left: -10%;
}

.habilidade:hover .fa-react::after {
    content: "react";
    left: -50%;
}

@media screen and (min-width: 798px) {
    .habilidades__titulo {
        font-size: 2.5rem;
    }

    .habilidades_container {
        gap: 4rem;
    }

    .habilidade {
        height: 6.5rem;
        width: 6.5rem;
    }

    .habilidade i {
        font-size: 6rem;
    }

    .habilidade:hover .fa-html5::after,
    .habilidade:hover .fa-css3-alt::after,
    .habilidade:hover .fa-js::after,
    .habilidade:hover .fa-react::after {
        border-radius: 15px;
        font-size: 1rem;        
    }
    
    .habilidade:hover .fa-html5::after {
        left: 0;
    }
    
    .habilidade:hover .fa-css3-alt::after {
        left: 10%;
    }
    
    .habilidade:hover .fa-js::after {
        left: -40%;
    }
    
    .habilidade:hover .fa-react::after {
        left: -5%;
    }
    
    
}

@media screen and (min-width: 1000px) {
    .habilidade {
        height: 4.5rem;
        width: 4.5rem;
    }

    .habilidade i {
        font-size: 4rem;
    }

    .habilidade:hover .fa-html5::after,
    .habilidade:hover .fa-css3-alt::after,
    .habilidade:hover .fa-js::after,
    .habilidade:hover .fa-react::after {
        border-radius: 15px;
        font-size: 1rem;        
    }
    
    .habilidade:hover .fa-html5::after {
        left: -22%;
    }
    
    .habilidade:hover .fa-css3-alt::after {
        left: -8%;
    }
    
    .habilidade:hover .fa-js::after {
        left: -80%;
    }
    
    .habilidade:hover .fa-react::after {
        left: -30%;
    }
}