.sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.sobre img{
    margin-bottom: 40px;
    width: 167px;
}

.sobre article p {
    text-align: start;
    padding: 0 2rem;
    line-height: 1.2em;
}

.sobre article p:last-child {
    margin-top: 1.5rem;
}

@media screen and (min-width: 798px) {
    .sobre img {
        margin-bottom: 100px;
        width: 350px;
    }

    .sobre article p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    .sobre article p:last-child {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .sobre {
        align-items: start;
        flex-direction: row;
    }

    .sobre img {
        padding-left: 140px;
    }

    .sobre article p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}