@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css');

@import url(reset.css);

:root {
  /*  cores   */
  --cor-princiapl: #161616;
  --cor-secundaria: #676767;
  --cor-texto: #FEFEFE;
  --laranja: #FF5C00;
  --logo-de-fundo: #191919;
  --laranja-baixa-opacidade: #ff5c0099;
}

body {
  background: var(--cor-princiapl);
  color: var(--cor-texto);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}

body::after {
  content: "";
  background: url(./img/logo2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 798px) {
  body {
      font-size: 32px;
  }
}

@media screen and (min-width: 1000px) {
  body {
      font-size: 19px;
  }

  .fundo {
      left: 30%;
      top: 5%;
      width: 40%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(103, 103, 103, 0.411);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-secundaria);
}